table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 10px;
  text-align: left;
}

img {
  max-width: 200px; /* Максимальна ширина зображення */
  max-height: 200px; /* Максимальна висота зображення */
  height: auto; /* Автоматичне збереження пропорцій */
}